* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Calibri", sans-serif;
}

body {
    background: white;
    color: white;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar {
    width: 100%;
    max-width: 600px;
    background: #00003c;
    padding: 30px 20px;
    border-radius: 10px;
}

.navbar {
    background-color: #1c1d50;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 1em;
    color: white;
}

.navigation {
    margin-right: 1em;
    text-decoration: none;
    color: white;
}

.navigation:hover {
    color: red;
}

.navbar i {
    margin-right: 0.5em;
}

.header {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: white;
    margin-bottom: 1em;
}

.weekdays {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.mon-sun {
    width: calc(100% / 7 - 10px);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.days {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.current-month {
    width: calc(100% / 7 - 10px);
    height: 50px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 16px;
    color: black;
    user-select: none;
}

.other-month {
    width: calc(100% / 7 - 10px);
    height: 50px;
    background: #383464;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    color: #8a85a4;
    user-select: none;
}



