* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Calibri", sans-serif;
}

body {
    background: white;
    color: white;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar {
    width: 100%;
    max-width: 600px;
    background: #00003c;
    padding: 30px 20px;
    border-radius: 10px;
}

.main-container {
    width: 100%;
    max-width: 600px;
    background: #00003c;
    padding: 30px 20px;
    border-radius: 10px;
}

.navbar {
    background-color: #1c1d50;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 1em;
    color: white;
}

.navigation {
    margin-right: 1em;
    text-decoration: none;
    color: white;
}

.navigation:hover {
    color: red;
}

.navbar i {
    margin-right: 0.5em;
}

.header {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: white;
    margin-bottom: 1em;
}

.weekdays {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.mon-sun {
    width: calc(100% / 7 - 10px);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.days {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.current-month {
    width: calc(100% / 7 - 10px);
    height: 50px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 16px;
    color: black;
    user-select: none;
}

.other-month {
    width: calc(100% / 7 - 10px);
    height: 50px;
    background: #383464;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    color: #8a85a4;
    user-select: none;
}

.newEvent {
    padding: 5px;
    border-radius: 50%;
    background-color: red;
    margin-right: 2px;
    margin-left: 2px;
    border: none;
    cursor: pointer;
}

.newEvent:hover {
    background-color: #00003c;
}

.addEvent {
    width: 100%;
    max-width: 600px;
    background: #1c1d50;
    padding: 30px 20px;
    border-radius: 10px;
}

.formInfo {
    background-color: #383464;
    border-left: 5px solid red;
    padding: 15px;
    margin-bottom: 16px;
    border-radius: 8px;
}

.input {
    width: 100%;
    padding: 12px;
    margin-bottom: 1rem;
    background-color: #1c1d50;
    border: 1px solid #383464;
    color: white;
    border-radius: 8px;
    font-size: 1rem;
    color-scheme: dark;
}

.input:focus{
    border-color: #c80818;
    outline: none;
}

.submitBtn {
    width: 20%;
    align-content: center;
    padding: 14px;
    background-color: #383464;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 1px 2px rgba(255, 255, 255, 0.1);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
}

.submitBtn:hover {
    background-color: #c80818;
    font-weight: bold;
}



