* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Calibri', sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1vh;
}

.navbar {
    background-color: #00003c;
    padding: 10px 15px;
    width: 90%;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    max-height: 50px;
    align-items: center;
    max-width: 600px;
    color: white;
    display: flex;
}

.button {
    float: left;
    padding: 10px 15px;
    background-color: #00003c;
    color: #c80818;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    display: flex;
    gap: 8px;
}

#btn_Home {
    margin-right: 20px;
}

.calendar {
    width: 90%;
    max-height: 350px;
    max-width: 600px;
    border-radius: 10px;
    overflow: auto;
}


.header {
    background-color: #1c1d50;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 1rem;
    font-weight: bold;
}

.days {
    display: flex;
    background-color: #383464;
    color: white;
    font-weight: bold;
    font-size: 0.6rem ;
    text-align: center;
}

.days div {
    flex: 1;
    padding: 15px;
    border-right: 1px solid #282828;
}

.days div:last-child {
    border-right: none;
}

.flex-days {
    display: flex;
    flex-wrap: wrap;
    background-color: #534e79;
}

.flex-days div {
    flex: 1 0 calc(100% / 7);
    text-align: left;
    padding: 15px;
    color: white;
    border: 1px solid #383464;
    position: relative;
    min-height: 50px;
}

.flex-days div .day-number {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 0.6rem;
}

.flex-days div:last-child {
    border-right: none;
}

.no-date{
    background-color: #1c1d50;
    pointer-events: none;
}

.marker {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-height: 50px;
    overflow: hidden;
}

.viewEntry {
    padding: 5px 10px;
    background-color: #c80818;
    border: none;
    cursor: pointer;
    margin: 2px;
    flex-shrink: 0;
    flex-direction: column;
}

.viewEntry:hover{
    background-color: #00003c;
}






