body {
    font-family: Calibri, sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-top: 0;
}

.navbar {
    text-align: center;
    background: yellow;
    color: white;
    padding: 4vh 50vw;
    margin-bottom: 5vh;
}

.calendar {
    border-radius: 1rem;
    overflow: hidden;
    width: 90%;
    max-width: 100vw;
}

.header {
    text-align: center;
    background: hotpink;
    color: white;
    padding: 2vh;
    font-size: 3vh;
    font-weight: bold;
}

.days {
    display: flex;
    background: blue;
    border-bottom: 0.1rem solid white;
}

.days div {
    flex: 1;
    text-align: center;
    padding: 2.5vh;
    font-weight: bold;
    font-size: 2vh;
    color: black;
    border-right: 0.1rem solid white;
}

.days div:last-child {
    border-right: none;
}

.flex-days {
    display: flex;
    flex-wrap: wrap;
    background-color: green;
}

.flex-days div {
    flex: 1 0 calc(100% / 7);
    text-align: center;
    padding: 2.5vh;
    border: 0.1rem solid white;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-size: 2vh;
    justify-content: center;
    cursor: pointer;
}