* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Calibri', sans-serif;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    flex-direction: column;
}

.navbar {
    background-color: #3f3f3f;
    padding: 30px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    max-width: 800px;
}

.calendar {
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    overflow: hidden;
}

.header {
    background-color: #282828;
    color: #987add;
    text-align: center;
    padding: 20px;
    font-size: 2rem;
    font-weight: bold;
}

.days {
    display: flex;
    background-color: #3f3f3f;
    color: #ad94e5;
    font-weight: bold;
    text-align: center;
}

.days div {
    flex: 1;
    padding: 15px;
    border-right: 1px solid #282828;
}

.days div:last-child {
    border-right: none;
}

.flex-days {
    display: flex;
    flex-wrap: wrap;
    background-color: #717171;
}

.flex-days div {
    flex: 1 0 calc(100% / 7);
    text-align: center;
    padding: 20px;
    font-size: 1.2rem;
    cursor: pointer;
    color: white;
    border: 1px solid #3f3f3f;
}

.flex-days div:hover {
    background-color: #ad94e5;
}

.no-date{
    background-color: #575757;
    pointer-events: none;
}


